.botonmenu{
    border:none;
    background: url('../img/discord.svg');
    background-size: cover;

    background-color: transparent;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.no-p{
    margin-top: auto;
    margin-bottom: auto;
}

.naranja{
    color:orange;
}

.fill-white{
    color:white;
}

.rem-1-2{
    font-size: 1.2rem;
}

.rem-0-9{
    font-size: 0.9rem;
}

.menu{
    background-color: orange;
    position:sticky;
}